/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

main {
  min-height: 80vh;
}

h1,
h2,
h3 {
  color: black;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin-left: 0.1rem;
}

/* Color Chooser */
.color-chooser {
  width: 100%;
  display: flex;
}

.color-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  position: relative;
  z-index: 1;
  transition: transform 0.2s ease;
}

.color-item:hover {
  cursor: pointer;
  border: 4px solid silver;
}

.color-item-selected,
.color-item-deletable {
  border: 2px solid #f1f1f1;
  transform: scale(1.2);
}

.color-item-selected:after {
  content: '✓';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  color: #fff;
}

.color-item-deletable:after {
  content: '✖';
  display: none;
}

.color-item-deletable:hover:after {
  display: block;
}

/* Navigation */
.navigation-menu-link {
  color: #1a1a1a;
  background-color: white;
  /* color: red; */
  padding: 0.2rem;
  margin-right: 1rem;
  text-decoration: none;
  /* font-size: 0.5rem; */
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  border: none;
}
.navigation-menu-link:hover {
  text-decoration: none;
  background: #f2f2f2;
}

/* Basket */
.basket {
  width: 50rem;
  height: 100vh;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
  /* @include bezier-transition(transform); */
  transition: cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 60;
}

@media only screen and (max-width: 30em) {
  .basket {
    width: 100%;
  }
}

.basket-toggle :hover {
  cursor: pointer;
}

.basket-list {
  padding: 1.6rem;
  padding-bottom: 100px;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.basket-item {
  display: flex;
  align-items: center;
  border: 1px solid #e1e1e1;
  margin-bottom: 1.2rem;
  /* @include bezier-transition(); */
  transition: cubic-bezier();
  animation: slide-up 0.5s ease;
}

.basket-item-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
}

.basket-empty {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket-empty-msg {
  color: #818181;
}

.basket-header {
  display: flex;
  align-items: center;
  position: sticky;
  top: -20px;
  background: white;
  z-index: 60;
}

.basket-header-title {
  flex-grow: 1;
}

.basket-item-img-wrapper {
  width: 90px;
  height: 60px;
  margin-right: 1.2rem;
  position: relative;
}

.basket-item-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.basket-item-details {
  flex-grow: 1;
}

.basket-item-name {
  margin: 1.2rem 0;
  width: 142px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.basket-item-price {
  margin: 1.2rem 0;
}

.basket-item-remove {
  align-self: center;
}

.basket-clear {
  align-self: center;
}

.basket-checkout {
  background: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.basket-checkout:before {
  content: '';
  position: absolute;
  top: 0;
  margin: auto;
  width: 93%;
  height: 0.5px;
  background: #e1e1e1;
}

.basket-checkout-button {
  font-size: 1rem;
  padding: 1.2rem 3.2rem;
  text-transform: uppercase;
}

.basket-total {
  /* flex-grow: 1; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.basket-total-title {
  font-size: 1.2rem;
  margin: 0;
}

.basket-total-amount {
  margin: 1.2rem 0;
}

.basket-item-control {
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.basket-control {
  width: 32px;
  height: 32px;
  padding: 5px;
  font-weight: bold;
}

.basket-control-count {
  margin: 5px;
}

.is-basket-open {
  overflow-y: hidden;
}
.is-basket-open .basket {
  transform: translateX(0);
}

/* Basket Badge */
.badge {
  position: relative;
}

.badge-count {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: -12px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 9px;
  font-weight: bold;
}

/* Star Rating */
.w-6 {
  width: 1.5rem;
}

.h-6 {
  height: 1.5rem;
}

.flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}
